<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.uni.mapper.AreaMapper">

    <resultMap id="area_type_info" type="top.uni.entity.AreaInfo">
        <!-- 掌握id、result、association、collection四个标签 -->

        <!-- 主键字段：这里填写的必须为查询的表的字段的主键 -->
        <id property="id" column="id"></id>
        <!-- 普通字段：主键以外的字段 -->
        <result property="name" column="area"></result>
    </resultMap>

    <!--xml配置内容-->
<!--    //查询省会-->
    <select id="selectProvince" resultMap="area_type_info" >
        SELECT provinceid id,province name FROM provinces
    </select>
<!--    //查询城市-->
    <select id="selectcity" parameterType="map" resultMap="area_type_info" >
        SELECT cityid id,city name FROM cities WHERE provinceid=#{provinceid}
    </select>
<!--    //查询区域-->
    <select id="selectarea" parameterType="map" resultMap="area_type_info" >
        SELECT areaid id,area name FROM areas WHERE cityid=#{cityid}
    </select>
</mapper>